.navbar {
    overflow: auto;
    vertical-align: middle;
}


.navbar a {
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
}

.navbar a:hover {
  border-bottom: 2px solid;
  border-bottom-color:  #52e3c2;
  border-bottom-width: 3px;
  padding-bottom: 12px;
}



.active {
  border-bottom: 2px solid;
  border-bottom-color:  #52e3c2;
  border-bottom-width: 3px;
  padding-bottom: 12px;
}


 li {
    float: left;
    padding:12px;
    font-size: 12px;
    border-bottom: 3px solid transparent;
}


ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

 img{
    width: 60px;
    height: 60px;
    float: left;
    padding-bottom: 24px;
    padding-left: 15px;
    padding-right: 15px;
}
