<nav class="navbar">
    <ul>
      <div class="logo"><li><img  src="../assets/images/money-bag.svg"></div>
      <div class="navlink"><li><a href="#" routerLinkActive="active">HOME</a></li></div>
      <div class="navlink"><li><a [routerLink]="['technical-search']" routerLinkActive="active">TECHNICAL SEARCH</a></li></div>
      <div class="navlink"><li><a href="#" routerLinkActive="active">FUNDAMENTAL SEARCH</a></li></div>
      <div class="navlink"><li><a href="#" routerLinkActive="active">TRADE IDEAS</a></li></div>
    </ul>
  </nav>