.title {
    font-size: 24px;
    margin-left: 10px;
}

.select-box {
    border: 0px;
    padding: 10px 6px 10px 24px;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    outline: none;
    background-color: #1c313a;
}

#sign-select {
    font-size: 24px;
    vertical-align: middle;
}

#input-box {
    width: 100%;
}

#add-button {
    border: none;
    margin-top: 24px;
    background-color: #ec407a;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    box-shadow: 0px 2px 3px #90a4ae;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

#add-button:active {
    box-shadow: none;
}

#add-button:hover {
    background-color: #ff77a9;
}

.option {
    color: white;
}

select.select-box {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    /* no standardized syntax available, no ie-friendly solution available */
}

.icon {
    /* this is so when you click on the chevron, your click actually goes on the dropdown menu */
    pointer-events: none;
    /* everything after this is just to cover up the original arrow */
    /* (for browsers that don't support the syntax used above) */
    margin-left: -35px;
}

select:focus {
    border-color: gray;
    outline: none;
}

#cancel-button {
    width: 50px;
    height: 50px;
    background-color: #546e7a;
    border: none;
    opacity: 0.6;
    border-radius: 10px;
    margin-left: 16px;
    outline: none;
}

#cancel-button:hover {
    background-color: #819ca9;
}

#cancel-icon {
    width: 50%;
    height: 50%;
    fill: #e2f1f8;
    align-self: center;
    vertical-align: middle;
}

#input-box {
    color: white;
}

 .selectContainer {
    margin-top: 16px;
} 

/* hide numbers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.option {
    color: white;
}

.defaultOption {
    color: #62757f;
}
