.title {
    font-size: 24px;
    margin-left: 10px;
}

.select-box {
    border: 0px;
    padding: 10px 6px 10px 16px;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    outline: none;
    background-color: #1c313a;
}

#sign-select {
    font-size: 24px;
}

#input-box {
    width: 100%;
}

.option {
    color: white;
}


select.select-box {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    /* no standardized syntax available, no ie-friendly solution available */
}

.icon {
    /* this is so when you click on the chevron, your click actually goes on the dropdown menu */
    pointer-events: none;
    /* everything after this is just to cover up the original arrow */
    /* (for browsers that don't support the syntax used above) */
    margin-left: -35px;
}

select:focus{
    border-color: gray;
    outline:none;
}


#cancel-button {
    width: 50px;
    height: 50px;
    background-color:#546e7a;
    border: none;
    opacity: 0.8;
    border-radius: 10px;
    margin-left: 10px;
    outline: none;
}

#cancel-button :hover {
    background-color: #819ca9;
}


#cancel-icon {
    width: 22px;
    height: 22px;
    fill: #e2f1f8;
}

#input-box {
    color: white;
}
