/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';
html,body {
    background-color: #102027;
    margin: 0px;
    color: #ffffff;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Titillium';
    src: url(./assets/fonts/Titillium-Web/TitilliumWeb-Regular.ttf) format("truetype");
    font-weight:300;
}

* {
    font-family: 'Titillium', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
  }



